In [1]:
import warnings
from collections import Counter
import numpy as np
import pandas as pd

### Subreddit Data
The df dataframe was built specifically for Direct graph

In [2]:
df = pd.read_csv("scraping data/data/data_subreddit_direct.csv",index_col=0)
df.head()

   parent                 to  interactions  crossposts          date   weights
0  nature        environment        1746.0           1  1.619228e+09  7.465655
1  nature     EcoNewsNetwork         154.0          13  1.615282e+09  5.043425
2  nature        PublicLands           3.0           1  1.619177e+09  1.386294
3  nature  EndangeredSpecies          28.0           2  1.618449e+09  3.367296
4  nature       animalimpact           5.0           3  1.615263e+09  1.791759

# Build dataframe "df1" for Unditected graph

In [3]:
df1=df.copy()
#delete the columns 
columns2remove = ['weights']
df1.drop(columns2remove, inplace=True, axis=1)
df1.head()

   parent                 to  interactions  crossposts          date
0  nature        environment        1746.0           1  1.619228e+09
1  nature     EcoNewsNetwork         154.0          13  1.615282e+09
2  nature        PublicLands           3.0           1  1.619177e+09
3  nature  EndangeredSpecies          28.0           2  1.618449e+09
4  nature       animalimpact           5.0           3  1.615263e+09

Made df1  that is the copy of df with the addition of the "index1" column.<br>
Made made df2 which is the copy of df1 where the column name "parent" has been changed to "to" and the column name "to" to "parent" and "index1" to "index2".

In [4]:
id=range(len(df1))
df1["index1"]=id
df1.head()

   parent                 to  interactions  crossposts          date  index1
0  nature        environment        1746.0           1  1.619228e+09       0
1  nature     EcoNewsNetwork         154.0          13  1.615282e+09       1
2  nature        PublicLands           3.0           1  1.619177e+09       2
3  nature  EndangeredSpecies          28.0           2  1.618449e+09       3
4  nature       animalimpact           5.0           3  1.615263e+09       4

In [5]:
df.loc[df1['parent']== df1['to']]

Empty DataFrame
Columns: [parent, to, interactions, crossposts, date, weights]
Index: []

In [6]:
df2=df1.copy()
df2.rename(columns = {'to':'to2', 'parent':'to'}, inplace = True)
df2.rename(columns = {'to2':'parent','index1':'index2'}, inplace = True)

df2.head()

       to             parent  interactions  crossposts          date  index2
0  nature        environment        1746.0           1  1.619228e+09       0
1  nature     EcoNewsNetwork         154.0          13  1.615282e+09       1
2  nature        PublicLands           3.0           1  1.619177e+09       2
3  nature  EndangeredSpecies          28.0           2  1.618449e+09       3
4  nature       animalimpact           5.0           3  1.615263e+09       4

Now let's look for the rows in df1 and df2 that have the "parent" and "to" subredits equal at the same time.

In [7]:
result=[]
result=pd.merge(df1,df2,on=["parent","to"], how="inner")
result.head()

,parent,to,interactions_x,crossposts_x,date_x,index1,interactions_y,crossposts_y,date_y,index2
0,nature,environment,1746.0,1,1.619228e+09,0,219.0,2,1.609549e+09,101
1,nature,EcoNewsNetwork,154.0,13,1.615282e+09,1,138.0,5,1.618086e+09,26779
2,nature,UpliftingNews,51.0,1,1.617663e+09,10,31.0,2,1.600145e+09,3973
3,WomenInNews,WomensRightsNews,64.0,4,1.614272e+09,19,8.0,1,1.614636e+09,54801
4,environment,EcoNewsNetwork,412.0,43,1.556766e+09,31,2582.0,24,1.603487e+09,26775

In [8]:
result1=result.copy()
result1.head()

,parent,to,interactions_x,crossposts_x,date_x,index1,interactions_y,crossposts_y,date_y,index2
0,nature,environment,1746.0,1,1.619228e+09,0,219.0,2,1.609549e+09,101
1,nature,EcoNewsNetwork,154.0,13,1.615282e+09,1,138.0,5,1.618086e+09,26779
2,nature,UpliftingNews,51.0,1,1.617663e+09,10,31.0,2,1.600145e+09,3973
3,WomenInNews,WomensRightsNews,64.0,4,1.614272e+09,19,8.0,1,1.614636e+09,54801
4,environment,EcoNewsNetwork,412.0,43,1.556766e+09,31,2582.0,24,1.603487e+09,26775

I create the "interactions" and "crossposts" columns, adding inteactions_x + interaction_y and crosspost_x + crosspost_y

In [9]:
result["interactions"]=result["interactions_x"]+result["interactions_y"]
result["crossposts"]=result["crossposts_x"]+result["crossposts_y"]
result.head()

,parent,to,interactions_x,crossposts_x,date_x,index1,interactions_y,crossposts_y,date_y,index2,interactions,crossposts
0,nature,environment,1746.0,1,1.619228e+09,0,219.0,2,1.609549e+09,101,1965.0,3
1,nature,EcoNewsNetwork,154.0,13,1.615282e+09,1,138.0,5,1.618086e+09,26779,292.0,18
2,nature,UpliftingNews,51.0,1,1.617663e+09,10,31.0,2,1.600145e+09,3973,82.0,3
3,WomenInNews,WomensRightsNews,64.0,4,1.614272e+09,19,8.0,1,1.614636e+09,54801,72.0,5
4,environment,EcoNewsNetwork,412.0,43,1.556766e+09,31,2582.0,24,1.603487e+09,26775,2994.0,67

I create a new "date" attribute: between date_x and date_y, "date" is the smallest value and represents the oldest crosspost date

In [10]:
date=[]
for i in range(len(result)):
    x=[]
    x=min([result['date_x'][i],result['date_y'][i]])
    date.append(x)
    
result['date']=date
result.head()

,parent,to,interactions_x,crossposts_x,date_x,index1,interactions_y,crossposts_y,date_y,index2,interactions,crossposts,date
0,nature,environment,1746.0,1,1.619228e+09,0,219.0,2,1.609549e+09,101,1965.0,3,1.609549e+09
1,nature,EcoNewsNetwork,154.0,13,1.615282e+09,1,138.0,5,1.618086e+09,26779,292.0,18,1.615282e+09
2,nature,UpliftingNews,51.0,1,1.617663e+09,10,31.0,2,1.600145e+09,3973,82.0,3,1.600145e+09
3,WomenInNews,WomensRightsNews,64.0,4,1.614272e+09,19,8.0,1,1.614636e+09,54801,72.0,5,1.614272e+09
4,environment,EcoNewsNetwork,412.0,43,1.556766e+09,31,2582.0,24,1.603487e+09,26775,2994.0,67,1.556766e+09

Now we are going to replace the values ​​of "interactions", "crossposts" and "date", in the rows with "index1" equal to indexes of the dataframe df1.<br>
First we sort the dataframe "result", by "index1"

In [11]:
result = result.sort_values(by = 'index1', ascending = True)
result.head()

,parent,to,interactions_x,crossposts_x,date_x,index1,interactions_y,crossposts_y,date_y,index2,interactions,crossposts,date
0,nature,environment,1746.0,1,1.619228e+09,0,219.0,2,1.609549e+09,101,1965.0,3,1.609549e+09
1,nature,EcoNewsNetwork,154.0,13,1.615282e+09,1,138.0,5,1.618086e+09,26779,292.0,18,1.615282e+09
2,nature,UpliftingNews,51.0,1,1.617663e+09,10,31.0,2,1.600145e+09,3973,82.0,3,1.600145e+09
3,WomenInNews,WomensRightsNews,64.0,4,1.614272e+09,19,8.0,1,1.614636e+09,54801,72.0,5,1.614272e+09
4,environment,EcoNewsNetwork,412.0,43,1.556766e+09,31,2582.0,24,1.603487e+09,26775,2994.0,67,1.556766e+09

In [12]:
df1.head()

   parent                 to  interactions  crossposts          date  index1
0  nature        environment        1746.0           1  1.619228e+09       0
1  nature     EcoNewsNetwork         154.0          13  1.615282e+09       1
2  nature        PublicLands           3.0           1  1.619177e+09       2
3  nature  EndangeredSpecies          28.0           2  1.618449e+09       3
4  nature       animalimpact           5.0           3  1.615263e+09       4

I'm going to insert the new values ​​of the attributes "Interactions", "crosspost" and "date" in the corresponding rows of the dataframe df1, that is, in the respective pairs of subreddit "from" and "to"

In [13]:
for i in range(len(result)):
    x=[]
    x=result['index1'].iloc[i]
    df1['interactions'].iloc[x]=result['interactions'].iloc[i]
    df1['crossposts'].iloc[x]=result['crossposts'].iloc[i]
    df1['date'].iloc[x]=result['date'].iloc[i]

C:\Users\cinzia\anaconda3\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [14]:
df1.head()

   parent                 to  interactions  crossposts          date  index1
0  nature        environment        1965.0           3  1.609549e+09       0
1  nature     EcoNewsNetwork         292.0          18  1.615282e+09       1
2  nature        PublicLands           3.0           1  1.619177e+09       2
3  nature  EndangeredSpecies          28.0           2  1.618449e+09       3
4  nature       animalimpact           5.0           3  1.615263e+09       4

Second step we delete the rows of df1 ,with index "index2" of dataframe "result"<br>
We delete the rows from the dataframe df1 starting from the major index to the minor index, starting from the end of df1.<br>
In this way the index of the rows not yet deleted will not be changed.

In [15]:
result = result.sort_values(by = 'index2', ascending = False)
result.head()

,parent,to,interactions_x,crossposts_x,date_x,index1,interactions_y,crossposts_y,date_y,index2,interactions,crossposts,date
4998,Chodi,IndiansRead,12.0,1,1.619295e+09,99518,25.0,2,1.618342e+09,107073,37.0,3,1.618342e+09
3479,opensourcehardware,RISCV,26.0,1,1.576024e+09,76930,13.0,1,1.595022e+09,107037,39.0,2,1.576024e+09
4401,opensource,openhardware,14.0,1,1.581452e+09,90098,3.0,1,1.615095e+09,107027,17.0,2,1.581452e+09
1634,aww,goats,513.0,5,1.594784e+09,45543,13.0,1,1.619220e+09,107004,526.0,6,1.594784e+09
1967,PeopleFuckingDying,ADailyDoseOfInternet,60.0,1,1.599193e+09,53359,16.0,1,1.588820e+09,106998,76.0,2,1.588820e+09

In [16]:
#delete the columns 
columns2remove = ['interactions_x','interactions_y','crossposts_x','crossposts_y','date_x','date_y']
result.drop(columns2remove, inplace=True, axis=1)
result.head()

,parent,to,index1,index2,interactions,crossposts,date
4998,Chodi,IndiansRead,99518,107073,37.0,3,1.618342e+09
3479,opensourcehardware,RISCV,76930,107037,39.0,2,1.576024e+09
4401,opensource,openhardware,90098,107027,17.0,2,1.581452e+09
1634,aww,goats,45543,107004,526.0,6,1.594784e+09
1967,PeopleFuckingDying,ADailyDoseOfInternet,53359,106998,76.0,2,1.588820e+09

In [17]:
result2=result.copy()
result2.head()

,parent,to,index1,index2,interactions,crossposts,date
4998,Chodi,IndiansRead,99518,107073,37.0,3,1.618342e+09
3479,opensourcehardware,RISCV,76930,107037,39.0,2,1.576024e+09
4401,opensource,openhardware,90098,107027,17.0,2,1.581452e+09
1634,aww,goats,45543,107004,526.0,6,1.594784e+09
1967,PeopleFuckingDying,ADailyDoseOfInternet,53359,106998,76.0,2,1.588820e+09

In [18]:
for i in range(len(result)): 
    
    for j in range(len(result)):
        if (result['parent'][i]==result['to'][j]) & (result['to'][i]==result['parent'][j]):
            print('row=',i,'row change =',j)
            result.loc[j]=result.loc[i]
            break

row= 0 row change = 19
row= 1 row change = 956
row= 2 row change = 117
row= 3 row change = 2039
row= 4 row change = 954
row= 5 row change = 762
row= 6 row change = 1553
row= 7 row change = 620
row= 8 row change = 2574
row= 9 row change = 853
row= 10 row change = 2629
row= 11 row change = 2636
row= 12 row change = 2674
row= 13 row change = 3258
row= 14 row change = 3264
row= 15 row change = 2671
row= 16 row change = 3134
row= 17 row change = 2884
row= 18 row change = 468
row= 20 row change = 5120
row= 21 row change = 3288
row= 22 row change = 780
row= 23 row change = 3110
row= 24 row change = 477
row= 25 row change = 5469
row= 26 row change = 5077
row= 27 row change = 3296
row= 28 row change = 638
row= 29 row change = 4015
row= 30 row change = 3226
row= 31 row change = 3221
row= 32 row change = 1152
row= 33 row change = 4224
row= 34 row change = 4470
row= 35 row change = 43
row= 36 row change = 5389
row= 37 row change = 3261
row= 38 row change = 1371
row= 39 row change = 1117
row= 40 row change = 5471
row= 41 row change = 5473
row= 42 row change = 5360
row= 44 row change = 959
row= 45 row change = 641
row= 46 row change = 2343
row= 47 row change = 725
row= 48 row change = 610
row= 49 row change = 295
row= 50 row change = 619
row= 51 row change = 87
row= 52 row change = 113
row= 53 row change = 75
row= 54 row change = 435
row= 55 row change = 1151
row= 56 row change = 3864
row= 57 row change = 2476
row= 58 row change = 2598
row= 59 row change = 118
row= 60 row change = 643
row= 61 row change = 5080
row= 62 row change = 3166
row= 63 row change = 441
row= 64 row change = 2527
row= 65 row change = 296
row= 66 row change = 1241
row= 67 row change = 2611
row= 68 row change = 2622
row= 69 row change = 423
row= 70 row change = 1126
row= 71 row change = 495
row= 72 row change = 5156
row= 73 row change = 5363
row= 74 row change = 2469
row= 76 row change = 413
row= 77 row change = 964
row= 78 row change = 416
row= 79 row change = 2486
row= 80 row change = 623
row= 81 row change = 1113
row= 82 row change = 2450
row= 83 row change = 503
row= 84 row change = 2459
row= 85 row change = 3526
row= 86 row change = 3207
row= 88 row change = 2538
row= 89 row change = 1421
row= 90 row change = 5205
row= 91 row change = 3906
row= 92 row change = 2461
row= 93 row change = 5439
row= 94 row change = 4144
row= 95 row change = 4237
row= 96 row change = 417
row= 97 row change = 3451
row= 98 row change = 5124
row= 99 row change = 4474
row= 100 row change = 2066
row= 101 row change = 5225
row= 102 row change = 1154
row= 103 row change = 5467
row= 104 row change = 3749
row= 105 row change = 882
row= 106 row change = 464
row= 107 row change = 4199
row= 108 row change = 1725
row= 109 row change = 769
row= 110 row change = 3218
row= 111 row change = 2339
row= 112 row change = 2466
row= 114 row change = 3972
row= 115 row change = 3525
row= 116 row change = 471
row= 119 row change = 427
row= 120 row change = 3114
row= 121 row change = 4211
row= 122 row change = 5132
row= 123 row change = 3151
row= 124 row change = 4208
row= 125 row change = 5567
row= 126 row change = 976
row= 127 row change = 309
row= 128 row change = 1145
row= 129 row change = 2045
row= 130 row change = 1306
row= 131 row change = 556
row= 132 row change = 4319
row= 133 row change = 3715
row= 134 row change = 376
row= 135 row change = 354
row= 136 row change = 1808
row= 137 row change = 3716
row= 138 row change = 4239
row= 139 row change = 411
row= 140 row change = 528
row= 141 row change = 981
row= 142 row change = 181
row= 143 row change = 1044
row= 144 row change = 1054
row= 145 row change = 1216
row= 146 row change = 2488
row= 147 row change = 338
row= 148 row change = 2720
row= 149 row change = 842
row= 150 row change = 1304
row= 151 row change = 3902
row= 152 row change = 1301
row= 153 row change = 2921
row= 154 row change = 3742
row= 155 row change = 3842
row= 156 row change = 3747
row= 157 row change = 1187
row= 158 row change = 3992
row= 159 row change = 569
row= 160 row change = 4997
row= 161 row change = 1352
row= 162 row change = 1095
row= 163 row change = 1062
row= 164 row change = 1508
row= 165 row change = 908
row= 166 row change = 3888
row= 167 row change = 318
row= 168 row change = 4356
row= 169 row change = 1435
row= 170 row change = 996
row= 171 row change = 5114
row= 172 row change = 2754
row= 173 row change = 3385
row= 174 row change = 524
row= 175 row change = 1051
row= 176 row change = 1096
row= 177 row change = 2927
row= 178 row change = 827
row= 179 row change = 2943
row= 180 row change = 1302
row= 182 row change = 1214
row= 183 row change = 3694
row= 184 row change = 901
row= 185 row change = 1809
row= 186 row change = 985
row= 187 row change = 3987
row= 188 row change = 2249
row= 189 row change = 1243
row= 190 row change = 3548
row= 191 row change = 2503
row= 192 row change = 1764
row= 193 row change = 2395
row= 194 row change = 1507
row= 195 row change = 1092
row= 196 row change = 1897
row= 197 row change = 1811
row= 198 row change = 1286
row= 199 row change = 3836
row= 200 row change = 1825
row= 201 row change = 3573
row= 202 row change = 2956
row= 203 row change = 2889
row= 204 row change = 3740
row= 205 row change = 4123
row= 206 row change = 3768
row= 207 row change = 4996
row= 208 row change = 2857
row= 209 row change = 2313
row= 210 row change = 5208
row= 211 row change = 3213
row= 212 row change = 4736
row= 213 row change = 3743
row= 214 row change = 4084
row= 215 row change = 3849
row= 216 row change = 872
row= 217 row change = 1442
row= 218 row change = 1414
row= 219 row change = 3847
row= 220 row change = 2733
row= 221 row change = 4134
row= 222 row change = 1525
row= 223 row change = 2575
row= 224 row change = 2080
row= 225 row change = 2433
row= 226 row change = 3748
row= 227 row change = 1122
row= 228 row change = 3345
row= 229 row change = 4042
row= 230 row change = 4038
row= 231 row change = 3787
row= 232 row change = 4905
row= 233 row change = 2216
row= 234 row change = 4031
row= 235 row change = 3539
row= 236 row change = 2094
row= 237 row change = 5200
row= 238 row change = 1893
row= 239 row change = 2610
row= 240 row change = 1032
row= 241 row change = 2616
row= 242 row change = 2961
row= 243 row change = 2513
row= 244 row change = 1975
row= 245 row change = 2445
row= 246 row change = 4973
row= 247 row change = 4255
row= 248 row change = 1540
row= 249 row change = 4127
row= 250 row change = 4116
row= 251 row change = 1381
row= 252 row change = 2945
row= 253 row change = 3872
row= 254 row change = 4069
row= 255 row change = 3305
row= 256 row change = 4967
row= 257 row change = 738
row= 258 row change = 4150
row= 259 row change = 1198
row= 260 row change = 2035
row= 261 row change = 3887
row= 262 row change = 729
row= 263 row change = 1409
row= 264 row change = 4143
row= 265 row change = 2999
row= 266 row change = 4444
row= 267 row change = 4398
row= 268 row change = 1109
row= 269 row change = 844
row= 270 row change = 324
row= 271 row change = 1727
row= 272 row change = 1506
row= 273 row change = 1547
row= 274 row change = 303
row= 275 row change = 2713
row= 276 row change = 1848
row= 277 row change = 3730
row= 278 row change = 791
row= 279 row change = 679
row= 280 row change = 1437
row= 281 row change = 1519
row= 282 row change = 399
row= 283 row change = 1348
row= 284 row change = 1232
row= 285 row change = 4408
row= 286 row change = 2139
row= 287 row change = 1552
row= 288 row change = 1163
row= 289 row change = 3417
row= 290 row change = 2559
row= 291 row change = 1942
row= 292 row change = 494
row= 293 row change = 4402
row= 294 row change = 1946
row= 297 row change = 440
row= 298 row change = 3156
row= 299 row change = 533
row= 300 row change = 4251
row= 301 row change = 1511
row= 302 row change = 1389
row= 304 row change = 3871
row= 305 row change = 838
row= 306 row change = 2485
row= 307 row change = 1367
row= 308 row change = 1143
row= 310 row change = 2867
row= 311 row change = 988
row= 312 row change = 4014
row= 313 row change = 1372
row= 314 row change = 1084
row= 315 row change = 1494
row= 316 row change = 1531
row= 317 row change = 1544
row= 319 row change = 680
row= 320 row change = 825
row= 321 row change = 854
row= 322 row change = 1060
row= 323 row change = 357

row= 325 row change = 1339
row= 326 row change = 4409
row= 327 row change = 2872
row= 328 row change = 790
row= 329 row change = 4225
row= 330 row change = 1130
row= 331 row change = 2042
row= 332 row change = 922
row= 333 row change = 3827
row= 334 row change = 505
row= 335 row change = 2811
row= 336 row change = 3001
row= 337 row change = 2971
row= 339 row change = 3957
row= 340 row change = 3824
row= 341 row change = 1203
row= 342 row change = 2818
row= 343 row change = 3009
row= 344 row change = 4243
row= 345 row change = 2711
row= 346 row change = 4324
row= 347 row change = 1443
row= 348 row change = 2916
row= 349 row change = 562
row= 350 row change = 1551
row= 351 row change = 1487
row= 352 row change = 5042
row= 353 row change = 2983
row= 355 row change = 1334
row= 356 row change = 4130
row= 358 row change = 788
row= 359 row change = 1156
row= 360 row change = 1493
row= 361 row change = 1546
row= 362 row change = 2837
row= 363 row change = 3008
row= 364 row change = 1354
row= 365 row change = 540
row= 366 row change = 1067
row= 367 row change = 3899
row= 368 row change = 829
row= 369 row change = 593
row= 370 row change = 2899
row= 371 row change = 2990
row= 372 row change = 520
row= 373 row change = 3833
row= 374 row change = 2577
row= 375 row change = 579
row= 377 row change = 646
row= 378 row change = 1480
row= 379 row change = 1584
row= 380 row change = 2873
row= 381 row change = 2516
row= 382 row change = 2803
row= 383 row change = 2479
row= 384 row change = 1447
row= 385 row change = 1144
row= 386 row change = 4228
row= 387 row change = 2184
row= 388 row change = 1387
row= 389 row change = 2130
row= 390 row change = 2273
row= 391 row change = 1787
row= 392 row change = 2127
row= 393 row change = 1158
row= 394 row change = 3420
row= 395 row change = 3029
row= 396 row change = 3324
row= 397 row change = 1870
row= 398 row change = 2228
row= 400 row change = 1201
row= 401 row change = 4914
row= 402 row change = 2922
row= 403 row change = 3838
row= 404 row change = 4068
row= 405 row change = 1180
row= 406 row change = 728
row= 407 row change = 414
row= 408 row change = 2448
row= 409 row change = 2471
row= 410 row change = 1521
row= 412 row change = 500
row= 415 row change = 1114
row= 418 row change = 3289
row= 419 row change = 5456
row= 420 row change = 972
row= 421 row change = 5081
row= 422 row change = 5123
row= 424 row change = 3115
row= 425 row change = 484
row= 426 row change = 3161
row= 428 row change = 4723
row= 429 row change = 4302
row= 430 row change = 4045
row= 431 row change = 4719
row= 432 row change = 3197
row= 433 row change = 453
row= 434 row change = 5375
row= 436 row change = 1738
row= 437 row change = 4488
row= 438 row change = 5048
row= 439 row change = 2367
row= 442 row change = 3219
row= 443 row change = 2342
row= 444 row change = 3940
row= 445 row change = 1315
row= 446 row change = 5133
row= 447 row change = 876
row= 448 row change = 4163
row= 449 row change = 770
row= 450 row change = 2468
row= 451 row change = 1468
row= 452 row change = 5362
row= 454 row change = 2565
row= 455 row change = 2525
row= 456 row change = 1734
row= 457 row change = 3954
row= 458 row change = 2599
row= 459 row change = 4303
row= 460 row change = 2592
row= 461 row change = 2365
row= 462 row change = 2573
row= 463 row change = 2547
row= 465 row change = 2585
row= 466 row change = 2860
row= 467 row change = 478
row= 469 row change = 2601
row= 470 row change = 1364
row= 472 row change = 2684
row= 473 row change = 3822
row= 474 row change = 3843
row= 475 row change = 1944
row= 476 row change = 4206
row= 479 row change = 5075
row= 480 row change = 618
row= 481 row change = 639
row= 482 row change = 2337
row= 483 row change = 4185
row= 485 row change = 5392
row= 486 row change = 3299
row= 487 row change = 2613
row= 488 row change = 3294
row= 489 row change = 3229
row= 490 row change = 2059
row= 491 row change = 2644
row= 492 row change = 1471
row= 493 row change = 4711
row= 496 row change = 5339
row= 497 row change = 3202
row= 498 row change = 2697
row= 499 row change = 5568
row= 501 row change = 502
row= 504 row change = 534
row= 506 row change = 2620
row= 507 row change = 2472
row= 508 row change = 5384
row= 509 row change = 5332
row= 510 row change = 835
row= 511 row change = 1539
row= 512 row change = 804
row= 513 row change = 2986
row= 514 row change = 2893
row= 515 row change = 2579
row= 516 row change = 4712
row= 517 row change = 2760
row= 518 row change = 589
row= 519 row change = 700
row= 521 row change = 1069
row= 522 row change = 4232
row= 523 row change = 2743
row= 525 row change = 1050
row= 526 row change = 982
row= 527 row change = 1300
row= 529 row change = 1303
row= 530 row change = 567
row= 531 row change = 1215
row= 532 row change = 3889
row= 535 row change = 797
row= 536 row change = 1492
row= 537 row change = 3500
row= 538 row change = 1476
row= 539 row change = 3507
row= 541 row change = 2478
row= 542 row change = 5014
row= 543 row change = 3511
row= 544 row change = 3967
row= 545 row change = 2878
row= 546 row change = 3211
row= 547 row change = 3010
row= 548 row change = 599
row= 549 row change = 5155
row= 550 row change = 4223
row= 551 row change = 4411
row= 552 row change = 793
row= 553 row change = 698
row= 554 row change = 1056
row= 555 row change = 991
row= 557 row change = 4025
row= 558 row change = 2887
row= 559 row change = 2918
row= 560 row change = 3718
row= 561 row change = 1376
row= 563 row change = 3371
row= 564 row change = 2658
row= 565 row change = 1440
row= 566 row change = 1575
row= 568 row change = 843
row= 570 row change = 659
row= 571 row change = 2761
row= 572 row change = 3398
row= 573 row change = 4234
row= 574 row change = 5232
row= 575 row change = 5187
row= 576 row change = 5503
row= 577 row change = 2840
row= 578 row change = 2894
row= 580 row change = 2984
row= 581 row change = 3602
row= 582 row change = 1515
row= 583 row change = 2576
row= 584 row change = 5012
row= 585 row change = 4311
row= 586 row change = 701
row= 587 row change = 2976
row= 588 row change = 2745
row= 590 row change = 3382
row= 591 row change = 911
row= 592 row change = 3011
row= 594 row change = 2996
row= 595 row change = 2807
row= 596 row change = 2813
row= 597 row change = 3960
row= 598 row change = 5157
row= 600 row change = 2796
row= 601 row change = 628
row= 602 row change = 2634
row= 603 row change = 1150
row= 604 row change = 2464
row= 605 row change = 2694
row= 606 row change = 2675
row= 607 row change = 2692
row= 608 row change = 971
row= 609 row change = 4986
row= 611 row change = 975
row= 612 row change = 3109
row= 613 row change = 2670
row= 614 row change = 2340
row= 615 row change = 2680
row= 616 row change = 3184
row= 617 row change = 636
row= 621 row change = 5076
row= 622 row change = 2704
row= 624 row change = 2696
row= 625 row change = 4275
row= 626 row change = 5391
row= 627 row change = 3138
row= 629 row change = 1346
row= 630 row change = 5337
row= 631 row change = 4049
row= 632 row change = 5372
row= 633 row change = 2695
row= 634 row change = 3214
row= 635 row change = 5026
row= 637 row change = 3295
row= 640 row change = 5338
row= 642 row change = 2465
row= 644 row change = 2338
row= 645 row change = 5462
row= 647 row change = 688
row= 648 row change = 690
row= 649 row change = 1510
row= 650 row change = 4347
row= 651 row change = 2046
row= 652 row change = 4490
row= 653 row change = 824
row= 654 row change = 2901
row= 655 row change = 920
row= 656 row change = 1393
row= 657 row change = 2906
row= 658 row change = 3832
row= 660 row change = 2877
row= 661 row change = 4373
row= 662 row change = 3721
row= 663 row change = 696
row= 664 row change = 3399
row= 665 row change = 2851
row= 666 row change = 2808
row= 667 row change = 5082
row= 668 row change = 1373
row= 669 row change = 1512
row= 670 row change = 3400
row= 671 row change = 1052
row= 672 row change = 4493
row= 673 row change = 2866
row= 674 row change = 802
row= 675 row change = 4272
row= 676 row change = 1445
row= 677 row change = 5017
row= 678 row change = 1535
row= 681 row change = 5173
row= 682 row change = 2484
row= 683 row change = 5188
row= 684 row change = 1880
row= 685 row change = 5192
row= 686 row change = 1582
row= 687 row change = 5180

row= 689 row change = 1478
row= 691 row change = 1483
row= 692 row change = 1400
row= 693 row change = 2044
row= 694 row change = 1124
row= 695 row change = 2556
row= 697 row change = 2904
row= 699 row change = 1396
row= 702 row change = 2895
row= 703 row change = 5195
row= 704 row change = 5011
row= 705 row change = 1378
row= 706 row change = 984
row= 707 row change = 995
row= 708 row change = 3386
row= 709 row change = 3392
row= 710 row change = 749
row= 711 row change = 3415
row= 712 row change = 2660
row= 713 row change = 2633
row= 714 row change = 3436
row= 715 row change = 2626
row= 716 row change = 3661
row= 717 row change = 5511
row= 718 row change = 2667
row= 719 row change = 5513
row= 720 row change = 3413
row= 721 row change = 5100
row= 722 row change = 2625
row= 723 row change = 3660
row= 724 row change = 3446
row= 726 row change = 3406
row= 727 row change = 5108
row= 730 row change = 2619
row= 731 row change = 1173
row= 732 row change = 5097
row= 733 row change = 944
row= 734 row change = 5586
row= 735 row change = 5588
row= 736 row change = 5590
row= 737 row change = 1684
row= 739 row change = 2106
row= 740 row change = 1844
row= 741 row change = 1467
row= 742 row change = 1835
row= 743 row change = 2009
row= 744 row change = 902
row= 745 row change = 3633
row= 746 row change = 3094
row= 747 row change = 1331
row= 748 row change = 821
row= 750 row change = 2659
row= 751 row change = 5512
row= 752 row change = 2666
row= 753 row change = 3411
row= 754 row change = 5521
row= 755 row change = 2624
row= 756 row change = 5099
row= 757 row change = 3405
row= 758 row change = 5585
row= 759 row change = 2630
row= 760 row change = 1741
row= 761 row change = 2677
row= 763 row change = 3482
row= 764 row change = 771
row= 765 row change = 766
row= 767 row change = 3491
row= 768 row change = 772
row= 773 row change = 3492
row= 774 row change = 905
row= 775 row change = 2539
row= 776 row change = 2544
row= 777 row change = 3529
row= 778 row change = 3494
row= 779 row change = 3111
row= 781 row change = 3259
row= 782 row change = 3193
row= 783 row change = 2729
row= 784 row change = 3274
row= 785 row change = 1068
row= 786 row change = 1336
row= 787 row change = 2301
row= 789 row change = 826
row= 792 row change = 1496
row= 794 row change = 4326
row= 795 row change = 1542
row= 796 row change = 1436
row= 798 row change = 1153
row= 799 row change = 4414
row= 800 row change = 2874
row= 801 row change = 5148
row= 803 row change = 4235
row= 805 row change = 1587
row= 806 row change = 3619
row= 807 row change = 3558
row= 808 row change = 1685
row= 809 row change = 2151
row= 810 row change = 2166
row= 811 row change = 2010
row= 812 row change = 1329
row= 813 row change = 1836
row= 814 row change = 1456
row= 815 row change = 2082
row= 816 row change = 5307
row= 817 row change = 2107
row= 818 row change = 3340
row= 819 row change = 2181
row= 820 row change = 5559
row= 822 row change = 4265
row= 823 row change = 1559
row= 828 row change = 1340
row= 830 row change = 1504
row= 831 row change = 1061
row= 832 row change = 3025
row= 833 row change = 1101
row= 834 row change = 1477
row= 836 row change = 1202
row= 837 row change = 1057
row= 839 row change = 1155
row= 840 row change = 1532
row= 841 row change = 4323
row= 845 row change = 3990
row= 846 row change = 3153
row= 847 row change = 4413
row= 848 row change = 3968
row= 849 row change = 4299
row= 850 row change = 5147
row= 851 row change = 5457
row= 852 row change = 5213
row= 855 row change = 2614
row= 856 row change = 3019
row= 857 row change = 4350
row= 858 row change = 4369
row= 859 row change = 3708
row= 860 row change = 2295
row= 861 row change = 3709
row= 862 row change = 4371
row= 863 row change = 4404
row= 864 row change = 4281
row= 865 row change = 4480
row= 866 row change = 5056
row= 867 row change = 4482
row= 868 row change = 5084
row= 869 row change = 1404
row= 870 row change = 1116
row= 871 row change = 1411
row= 873 row change = 2607
row= 874 row change = 1419
row= 875 row change = 2931
row= 877 row change = 2641
row= 878 row change = 929
row= 879 row change = 5293
row= 880 row change = 5003
row= 881 row change = 4509
row= 883 row change = 4981
row= 884 row change = 5476
row= 885 row change = 2190
row= 886 row change = 1225
row= 887 row change = 3667
row= 888 row change = 1164
row= 889 row change = 2439
row= 890 row change = 1843
row= 891 row change = 1245
row= 892 row change = 2268
row= 893 row change = 3689
row= 894 row change = 1911
row= 895 row change = 3459
row= 896 row change = 2197
row= 897 row change = 3769
row= 898 row change = 1976
row= 899 row change = 4840
row= 900 row change = 3524
row= 903 row change = 3074
row= 904 row change = 4648
row= 906 row change = 5554
row= 907 row change = 3850
row= 909 row change = 910
row= 912 row change = 934
row= 913 row change = 5182
row= 914 row change = 3394
row= 915 row change = 4321
row= 916 row change = 2855
row= 917 row change = 2043
row= 918 row change = 4273
row= 919 row change = 2880
row= 921 row change = 1444
row= 923 row change = 5015
row= 924 row change = 2518
row= 925 row change = 2581
row= 926 row change = 5459
row= 927 row change = 3606
row= 928 row change = 1856
row= 930 row change = 1457
row= 931 row change = 1885
row= 932 row change = 4566
row= 933 row change = 4430
row= 935 row change = 4009
row= 936 row change = 4010
row= 937 row change = 3596
row= 938 row change = 952
row= 939 row change = 1698
row= 940 row change = 4894
row= 941 row change = 2262
row= 942 row change = 1673
row= 943 row change = 3445
row= 945 row change = 1601
row= 946 row change = 2023
row= 947 row change = 1720
row= 948 row change = 3591
row= 949 row change = 2421
row= 950 row change = 4895
row= 951 row change = 1464
row= 953 row change = 3711
row= 955 row change = 3600
row= 957 row change = 1433
row= 958 row change = 5130
row= 960 row change = 3488
row= 961 row change = 2689
row= 962 row change = 3490
row= 963 row change = 3262
row= 965 row change = 5062
row= 966 row change = 2678
row= 967 row change = 2673
row= 968 row change = 5464
row= 969 row change = 3222
row= 970 row change = 4282
row= 973 row change = 5119
row= 974 row change = 3489
row= 977 row change = 5517
row= 978 row change = 2554
row= 979 row change = 1118
row= 980 row change = 1055
row= 983 row change = 2048
row= 986 row change = 2253
row= 987 row change = 2737
row= 989 row change = 994
row= 990 row change = 1049
row= 992 row change = 3830
row= 993 row change = 1002
row= 997 row change = 3719
row= 998 row change = 3831
row= 999 row change = 5164
row= 1000 row change = 2826
row= 1001 row change = 5009
row= 1003 row change = 1859
row= 1004 row change = 3473
row= 1005 row change = 5087
row= 1006 row change = 3054
row= 1007 row change = 3670
row= 1008 row change = 2108
row= 1009 row change = 3048
row= 1010 row change = 4100
row= 1011 row change = 5069
row= 1012 row change = 3876
row= 1013 row change = 4936
row= 1014 row change = 2306
row= 1015 row change = 4930
row= 1016 row change = 3870
row= 1017 row change = 5245
row= 1018 row change = 2586
row= 1019 row change = 5242
row= 1020 row change = 1174
row= 1021 row change = 4810
row= 1022 row change = 2371
row= 1023 row change = 2183
row= 1024 row change = 5251
row= 1025 row change = 4919
row= 1026 row change = 5261
row= 1027 row change = 5267
row= 1028 row change = 3936
row= 1029 row change = 5272
row= 1030 row change = 3551
row= 1031 row change = 1098
row= 1033 row change = 3464
row= 1034 row change = 1927
row= 1035 row change = 2266
row= 1036 row change = 3540
row= 1037 row change = 1210
row= 1038 row change = 5052
row= 1039 row change = 1865
row= 1040 row change = 4514
row= 1041 row change = 4459
row= 1042 row change = 3867
row= 1043 row change = 1047
row= 1045 row change = 1053
row= 1046 row change = 3758
row= 1048 row change = 1104
row= 1058 row change = 1059
row= 1063 row change = 2520
row= 1064 row change = 1335
row= 1065 row change = 1489
row= 1066 row change = 1538
row= 1070 row change = 3605
row= 1071 row change = 5431
row= 1072 row change = 3928
row= 1073 row change = 3819
row= 1074 row change = 2897
row= 1075 row change = 3515
row= 1076 row change = 3513
row= 1077 row change = 1776
row= 1078 row change = 1358
row= 1079 row change = 2716

row= 1080 row change = 2480
row= 1081 row change = 4175
row= 1082 row change = 4131
row= 1083 row change = 1479
row= 1085 row change = 4240
row= 1086 row change = 5161
row= 1087 row change = 2300
row= 1088 row change = 3014
row= 1089 row change = 3897
row= 1090 row change = 4407
row= 1091 row change = 4166
row= 1093 row change = 3395
row= 1094 row change = 5231
row= 1097 row change = 1222
row= 1099 row change = 4292
row= 1100 row change = 2736
row= 1102 row change = 1717
row= 1103 row change = 1224
row= 1105 row change = 1415
row= 1106 row change = 2929
row= 1107 row change = 2603
row= 1108 row change = 1289
row= 1110 row change = 1410
row= 1111 row change = 3777
row= 1112 row change = 1380
row= 1115 row change = 3986
row= 1119 row change = 4145
row= 1120 row change = 4333
row= 1121 row change = 3908
row= 1123 row change = 5604
row= 1125 row change = 1481
row= 1127 row change = 2920
row= 1128 row change = 3979
row= 1129 row change = 2566
row= 1131 row change = 4012
row= 1132 row change = 4462
row= 1133 row change = 4461
row= 1134 row change = 4466
row= 1135 row change = 2493
row= 1136 row change = 2947
row= 1137 row change = 2941
row= 1138 row change = 2749
row= 1139 row change = 4517
row= 1140 row change = 5165
row= 1141 row change = 2936
row= 1142 row change = 4027
row= 1146 row change = 2746
row= 1147 row change = 5217
row= 1148 row change = 2843
row= 1149 row change = 1742
row= 1157 row change = 2189
row= 1159 row change = 3728
row= 1160 row change = 1849
row= 1161 row change = 4655
row= 1162 row change = 3669
row= 1165 row change = 1206
row= 1166 row change = 3579
row= 1167 row change = 4101
row= 1168 row change = 4842
row= 1169 row change = 2129
row= 1170 row change = 3893
row= 1171 row change = 2034
row= 1172 row change = 3432
row= 1175 row change = 3422
row= 1176 row change = 4646
row= 1177 row change = 1312
row= 1178 row change = 2084
row= 1179 row change = 2426
row= 1181 row change = 3846
row= 1182 row change = 1766
row= 1183 row change = 3848
row= 1184 row change = 4030
row= 1185 row change = 2314
row= 1186 row change = 2946
row= 1188 row change = 3988
row= 1189 row change = 1231
row= 1190 row change = 3837
row= 1191 row change = 3746
row= 1192 row change = 2396
row= 1193 row change = 3537
row= 1194 row change = 2987
row= 1195 row change = 4032
row= 1196 row change = 4039
row= 1197 row change = 4040
row= 1199 row change = 1369
row= 1200 row change = 4041
row= 1204 row change = 3874
row= 1205 row change = 2294
row= 1207 row change = 1533
row= 1208 row change = 4569
row= 1209 row change = 2036
row= 1211 row change = 3320
row= 1212 row change = 1234
row= 1213 row change = 2309
row= 1217 row change = 3991
row= 1218 row change = 3012
row= 1219 row change = 1824
row= 1220 row change = 4128
row= 1221 row change = 2270
row= 1223 row change = 1305
row= 1226 row change = 2164
row= 1227 row change = 4841
row= 1228 row change = 2083
row= 1229 row change = 1905
row= 1230 row change = 1781
row= 1233 row change = 2958
row= 1235 row change = 1297
row= 1236 row change = 4056
row= 1237 row change = 4057
row= 1238 row change = 1239
row= 1240 row change = 4058
row= 1242 row change = 2442
row= 1244 row change = 3687
row= 1246 row change = 3774
row= 1247 row change = 2248
row= 1248 row change = 3310
row= 1249 row change = 3804
row= 1250 row change = 1918
row= 1251 row change = 1697
row= 1252 row change = 2200
row= 1253 row change = 1762
row= 1254 row change = 2504
row= 1255 row change = 1891
row= 1256 row change = 3523
row= 1257 row change = 3783
row= 1258 row change = 4832
row= 1259 row change = 4781
row= 1260 row change = 4097
row= 1261 row change = 3368
row= 1262 row change = 4125
row= 1263 row change = 3857
row= 1264 row change = 2735
row= 1265 row change = 1830
row= 1266 row change = 3543
row= 1267 row change = 1983
row= 1268 row change = 3607
row= 1269 row change = 3629
row= 1270 row change = 4079
row= 1271 row change = 3760
row= 1272 row change = 2436
row= 1273 row change = 2097
row= 1274 row change = 4147
row= 1275 row change = 4863
row= 1276 row change = 4081
row= 1277 row change = 4982
row= 1278 row change = 3682
row= 1279 row change = 4573
row= 1280 row change = 5611
row= 1281 row change = 1758
row= 1282 row change = 2221
row= 1283 row change = 3839
row= 1284 row change = 3334
row= 1285 row change = 2923
row= 1287 row change = 4108
row= 1288 row change = 2933
row= 1290 row change = 2740
row= 1291 row change = 4129
row= 1292 row change = 2321
row= 1293 row change = 3383
row= 1294 row change = 1474
row= 1295 row change = 4458
row= 1296 row change = 1307
row= 1298 row change = 1347
row= 1299 row change = 3977
row= 1308 row change = 4159
row= 1309 row change = 2699
row= 1310 row change = 5440
row= 1311 row change = 4195
row= 1313 row change = 1657
row= 1314 row change = 1744
row= 1316 row change = 2642
row= 1317 row change = 3841
row= 1318 row change = 2413
row= 1319 row change = 2088
row= 1320 row change = 1999
row= 1321 row change = 3553
row= 1322 row change = 3814
row= 1323 row change = 5020
row= 1324 row change = 5023
row= 1325 row change = 4059
row= 1326 row change = 4270
row= 1327 row change = 4853
row= 1328 row change = 3903
row= 1330 row change = 1451
row= 1332 row change = 1822
row= 1333 row change = 1490
row= 1337 row change = 3820
row= 1338 row change = 2456
row= 1341 row change = 3959
row= 1342 row change = 3898
row= 1343 row change = 4415
row= 1344 row change = 1529
row= 1345 row change = 2868
row= 1349 row change = 5479
row= 1350 row change = 2940
row= 1351 row change = 4174
row= 1353 row change = 2517
row= 1355 row change = 3506
row= 1356 row change = 3498
row= 1357 row change = 3510
row= 1359 row change = 1392
row= 1360 row change = 4428
row= 1361 row change = 4190
row= 1362 row change = 4192
row= 1363 row change = 4204
row= 1365 row change = 4207
row= 1366 row change = 5237
row= 1368 row change = 1513
row= 1370 row change = 2801
row= 1374 row change = 2040
row= 1375 row change = 2905
row= 1377 row change = 1397
row= 1379 row change = 4248
row= 1382 row change = 2928
row= 1383 row change = 1416
row= 1384 row change = 1778
row= 1385 row change = 1407
row= 1386 row change = 2606
row= 1388 row change = 3922
row= 1390 row change = 2451
row= 1391 row change = 1548
row= 1394 row change = 4024
row= 1395 row change = 2903
row= 1398 row change = 2806
row= 1399 row change = 4492
row= 1401 row change = 2458
row= 1402 row change = 1517
row= 1403 row change = 4476
row= 1405 row change = 4151
row= 1406 row change = 3813
row= 1408 row change = 2930
row= 1412 row change = 1418
row= 1413 row change = 2605
row= 1417 row change = 1801
row= 1420 row change = 4472
row= 1422 row change = 2449
row= 1423 row change = 1424
row= 1425 row change = 2391
row= 1426 row change = 2302
row= 1427 row change = 2393
row= 1428 row change = 4293
row= 1429 row change = 3920
row= 1430 row change = 4713
row= 1431 row change = 1550
row= 1432 row change = 2534
row= 1434 row change = 2799
row= 1438 row change = 2522
row= 1439 row change = 1536
row= 1441 row change = 4327
row= 1446 row change = 2830
row= 1448 row change = 1803
row= 1449 row change = 4320
row= 1450 row change = 4229
row= 1452 row change = 3618
row= 1453 row change = 2150
row= 1454 row change = 2011
row= 1455 row change = 3088
row= 1458 row change = 3099
row= 1459 row change = 2093
row= 1460 row change = 3557
row= 1461 row change = 4268
row= 1462 row change = 1558
row= 1463 row change = 2182
row= 1465 row change = 1840
row= 1466 row change = 3338
row= 1469 row change = 3976
row= 1470 row change = 2105
row= 1472 row change = 3823
row= 1473 row change = 3999
row= 1475 row change = 3387
row= 1482 row change = 4365
row= 1484 row change = 1497
row= 1485 row change = 4244
row= 1486 row change = 2715
row= 1488 row change = 4298
row= 1491 row change = 1545
row= 1495 row change = 4242
row= 1498 row change = 2481
row= 1499 row change = 2712
row= 1500 row change = 2766
row= 1501 row change = 3603
row= 1502 row change = 4344
row= 1503 row change = 3963
row= 1505 row change = 1534
row= 1509 row change = 3604
row= 1514 row change = 2834
row= 1516 row change = 4180
row= 1518 row change = 2841
row= 1520 row change = 1565
row= 1522 row change = 4342
row= 1523 row change = 3802
row= 1524 row change = 3799
row= 1526 row change = 4819

row= 1527 row change = 3495
row= 1528 row change = 4406
row= 1530 row change = 4325
row= 1537 row change = 3825
row= 1541 row change = 5146
row= 1543 row change = 5212
row= 1549 row change = 2718
row= 1554 row change = 4425
row= 1555 row change = 3086
row= 1556 row change = 3339
row= 1557 row change = 5305
row= 1560 row change = 4269
row= 1561 row change = 2015
row= 1562 row change = 2329
row= 1563 row change = 3812
row= 1564 row change = 4018
row= 1566 row change = 4968
row= 1567 row change = 2381
row= 1568 row change = 2778
row= 1569 row change = 2783
row= 1570 row change = 2389
row= 1571 row change = 3725
row= 1572 row change = 4351
row= 1573 row change = 4179
row= 1574 row change = 2790
row= 1576 row change = 3844
row= 1577 row change = 2349
row= 1578 row change = 2351
row= 1579 row change = 4957
row= 1580 row change = 4960
row= 1581 row change = 2399
row= 1583 row change = 5152
row= 1585 row change = 2883
row= 1586 row change = 2914
row= 1588 row change = 2758
row= 1589 row change = 2912
row= 1590 row change = 4216
row= 1591 row change = 4233
row= 1592 row change = 3150
row= 1593 row change = 4450
row= 1594 row change = 3284
row= 1595 row change = 3568
row= 1596 row change = 4439
row= 1597 row change = 5302
row= 1598 row change = 4442
row= 1599 row change = 2226
row= 1600 row change = 4560
row= 1602 row change = 5291
row= 1603 row change = 4527
row= 1604 row change = 4911
row= 1605 row change = 4680
row= 1606 row change = 4884
row= 1607 row change = 2022
row= 1608 row change = 4499
row= 1609 row change = 3348
row= 1610 row change = 2648
row= 1611 row change = 4380
row= 1612 row change = 4552
row= 1613 row change = 4538
row= 1614 row change = 1947
row= 1615 row change = 1789
row= 1616 row change = 3584
row= 1617 row change = 4883
row= 1618 row change = 4536
row= 1619 row change = 1896
row= 1620 row change = 2246
row= 1621 row change = 3795
row= 1622 row change = 1827
row= 1623 row change = 3712
row= 1624 row change = 3638
row= 1625 row change = 3761
row= 1626 row change = 1875
row= 1627 row change = 4978
row= 1628 row change = 1996
row= 1629 row change = 5543
row= 1630 row change = 5544
row= 1631 row change = 5533
row= 1632 row change = 5546
row= 1633 row change = 4540
row= 1634 row change = 5616
row= 1635 row change = 3483
row= 1636 row change = 2404
row= 1637 row change = 5498
row= 1638 row change = 5486
row= 1639 row change = 5007
row= 1640 row change = 5310
row= 1641 row change = 3806
row= 1642 row change = 3433
row= 1643 row change = 4672
row= 1644 row change = 4447
row= 1645 row change = 5532
row= 1646 row change = 3601
row= 1647 row change = 4797
row= 1648 row change = 2664
row= 1649 row change = 4891
row= 1650 row change = 4619
row= 1651 row change = 3673
row= 1652 row change = 1961
row= 1653 row change = 2167
row= 1654 row change = 4549
row= 1655 row change = 3097
row= 1656 row change = 3370
row= 1658 row change = 4066
row= 1659 row change = 5542
row= 1660 row change = 4694
row= 1661 row change = 4892
row= 1662 row change = 4531
row= 1663 row change = 4698
row= 1664 row change = 1954
row= 1665 row change = 4665
row= 1666 row change = 3570
row= 1667 row change = 3072
row= 1668 row change = 4524
row= 1669 row change = 4634
row= 1670 row change = 4259
row= 1671 row change = 4854
row= 1672 row change = 4596
row= 1674 row change = 3346
row= 1675 row change = 3475
row= 1676 row change = 3592
row= 1677 row change = 5168
row= 1678 row change = 1887
row= 1679 row change = 3239
row= 1680 row change = 4669
row= 1681 row change = 5536
row= 1682 row change = 3484
row= 1683 row change = 3580
row= 1686 row change = 2085
row= 1687 row change = 4826
row= 1688 row change = 3325
row= 1689 row change = 5541
row= 1690 row change = 4073
row= 1691 row change = 2171
row= 1692 row change = 2245
row= 1693 row change = 4545
row= 1694 row change = 4861
row= 1695 row change = 4138
row= 1696 row change = 3067
row= 1699 row change = 4896
row= 1700 row change = 4889
row= 1701 row change = 2220
row= 1702 row change = 3700
row= 1703 row change = 5166
row= 1704 row change = 5250
row= 1705 row change = 1949
row= 1706 row change = 3335
row= 1707 row change = 3106
row= 1708 row change = 3486
row= 1709 row change = 4906
row= 1710 row change = 4544
row= 1711 row change = 5493
row= 1712 row change = 1972
row= 1713 row change = 5573
row= 1714 row change = 3208
row= 1715 row change = 5487
row= 1716 row change = 3306
row= 1718 row change = 5535
row= 1719 row change = 2239
row= 1721 row change = 4971
row= 1722 row change = 5557
row= 1723 row change = 2180
row= 1724 row change = 5531
row= 1726 row change = 5534
row= 1728 row change = 4360
row= 1729 row change = 4162
row= 1730 row change = 4451
row= 1731 row change = 3154
row= 1732 row change = 5206
row= 1733 row change = 2568
row= 1735 row change = 2524
row= 1736 row change = 2591
row= 1737 row change = 2572
row= 1739 row change = 2597
row= 1740 row change = 1753
row= 1743 row change = 5061
row= 1745 row change = 3763
row= 1746 row change = 3989
row= 1747 row change = 4647
row= 1748 row change = 3426
row= 1749 row change = 5271
row= 1750 row change = 3784
row= 1751 row change = 1898
row= 1752 row change = 5204
row= 1754 row change = 3789
row= 1755 row change = 4109
row= 1756 row change = 2434
row= 1757 row change = 2204
row= 1759 row change = 4484
row= 1760 row change = 3471
row= 1761 row change = 2508
row= 1763 row change = 2282
row= 1765 row change = 1917
row= 1767 row change = 4105
row= 1768 row change = 2202
row= 1769 row change = 2320
row= 1770 row change = 3367
row= 1771 row change = 4864
row= 1772 row change = 4519
row= 1773 row change = 1775
row= 1774 row change = 4515
row= 1777 row change = 1804
row= 1779 row change = 4987
row= 1780 row change = 4558
row= 1782 row change = 4784
row= 1783 row change = 1901
row= 1784 row change = 3793
row= 1785 row change = 3856
row= 1786 row change = 3522
row= 1788 row change = 4502
row= 1790 row change = 4528
row= 1791 row change = 4551
row= 1792 row change = 4258
row= 1793 row change = 2651
row= 1794 row change = 4681
row= 1795 row change = 4550
row= 1796 row change = 4548
row= 1797 row change = 4542
row= 1798 row change = 3642
row= 1799 row change = 4565
row= 1800 row change = 4279
row= 1802 row change = 2831
row= 1805 row change = 2491
row= 1806 row change = 1807
row= 1810 row change = 1821
row= 1812 row change = 1820
row= 1813 row change = 2363
row= 1814 row change = 1815
row= 1816 row change = 4579
row= 1817 row change = 2347
row= 1818 row change = 3993
row= 1819 row change = 4591
row= 1823 row change = 5373
row= 1826 row change = 5054
row= 1828 row change = 2430
row= 1829 row change = 2277
row= 1831 row change = 3686
row= 1832 row change = 2231
row= 1833 row change = 1966
row= 1834 row change = 4869
row= 1837 row change = 3582
row= 1838 row change = 3100
row= 1839 row change = 5497
row= 1841 row change = 4612
row= 1842 row change = 2126
row= 1845 row change = 4789
row= 1846 row change = 2401
row= 1847 row change = 4352
row= 1850 row change = 2137
row= 1851 row change = 2324
row= 1852 row change = 4791
row= 1853 row change = 2188
row= 1854 row change = 3788
row= 1855 row change = 2334
row= 1857 row change = 3753
row= 1858 row change = 3894
row= 1860 row change = 2098
row= 1861 row change = 2212
row= 1862 row change = 2033
row= 1863 row change = 2330
row= 1864 row change = 4353
row= 1866 row change = 3066
row= 1867 row change = 4792
row= 1868 row change = 4354
row= 1869 row change = 4924
row= 1871 row change = 2926
row= 1872 row change = 4735
row= 1873 row change = 3466
row= 1874 row change = 2193
row= 1876 row change = 4297
row= 1877 row change = 3724
row= 1878 row change = 3885
row= 1879 row change = 4061
row= 1881 row change = 2333
row= 1882 row change = 3980
row= 1883 row change = 3985
row= 1884 row change = 5253
row= 1886 row change = 4291
row= 1888 row change = 3677
row= 1889 row change = 2267
row= 1890 row change = 2233
row= 1892 row change = 3465
row= 1894 row change = 1933
row= 1895 row change = 4745
row= 1899 row change = 2236
row= 1900 row change = 3779
row= 1902 row change = 2254
row= 1903 row change = 4616
row= 1904 row change = 3766
row= 1906 row change = 4521
row= 1907 row change = 3469
row= 1908 row change = 4113
row= 1909 row change = 3075
row= 1910 row change = 3691

row= 1912 row change = 4080
row= 1913 row change = 1977
row= 1914 row change = 3631
row= 1915 row change = 4289
row= 1916 row change = 2199
row= 1919 row change = 2115
row= 1920 row change = 3840
row= 1921 row change = 4381
row= 1922 row change = 3365
row= 1923 row change = 4556
row= 1924 row change = 2218
row= 1925 row change = 3805
row= 1926 row change = 1965
row= 1928 row change = 2443
row= 1929 row change = 2096
row= 1930 row change = 4880
row= 1931 row change = 4570
row= 1932 row change = 3311
row= 1934 row change = 4636
row= 1935 row change = 2018
row= 1936 row change = 4086
row= 1937 row change = 2024
row= 1938 row change = 3350
row= 1939 row change = 3855
row= 1940 row change = 4868
row= 1941 row change = 4780
row= 1943 row change = 2645
row= 1945 row change = 2561
row= 1948 row change = 3671
row= 1950 row change = 2431
row= 1951 row change = 3589
row= 1952 row change = 3662
row= 1953 row change = 4886
row= 1955 row change = 3352
row= 1956 row change = 3701
row= 1957 row change = 4564
row= 1958 row change = 4383
row= 1959 row change = 4862
row= 1960 row change = 2427
row= 1962 row change = 4683
row= 1963 row change = 3355
row= 1964 row change = 4668
row= 1967 row change = 5615
row= 1968 row change = 4095
row= 1969 row change = 3423
row= 1970 row change = 3547
row= 1971 row change = 3076
row= 1973 row change = 3562
row= 1974 row change = 3771
row= 1978 row change = 2095
row= 1979 row change = 3036
row= 1980 row change = 4872
row= 1981 row change = 4088
row= 1982 row change = 4115
row= 1984 row change = 2284
row= 1985 row change = 3692
row= 1986 row change = 4456
row= 1987 row change = 3434
row= 1988 row change = 3617
row= 1989 row change = 2032
row= 1990 row change = 4660
row= 1991 row change = 3089
row= 1992 row change = 3615
row= 1993 row change = 4505
row= 1994 row change = 4064
row= 1995 row change = 3555
row= 1997 row change = 4200
row= 1998 row change = 4808
row= 2000 row change = 3341
row= 2001 row change = 3092
row= 2002 row change = 2230
row= 2003 row change = 2090
row= 2004 row change = 3810
row= 2005 row change = 4029
row= 2006 row change = 4688
row= 2007 row change = 2154
row= 2008 row change = 4836
row= 2012 row change = 5560
row= 2013 row change = 4866
row= 2014 row change = 4264
row= 2016 row change = 4676
row= 2017 row change = 2288
row= 2019 row change = 3895
row= 2020 row change = 4379
row= 2021 row change = 2428
row= 2025 row change = 3583
row= 2026 row change = 4913
row= 2027 row change = 2225
row= 2028 row change = 2285
row= 2029 row change = 2406
row= 2030 row change = 3608
row= 2031 row change = 4659
row= 2037 row change = 3890
row= 2038 row change = 4746
row= 2041 row change = 2055
row= 2047 row change = 4489
row= 2049 row change = 4750
row= 2050 row change = 4757
row= 2051 row change = 4758
row= 2052 row change = 4764
row= 2053 row change = 4765
row= 2054 row change = 4766
row= 2056 row change = 2064
row= 2057 row change = 4760
row= 2058 row change = 2562
row= 2060 row change = 2772
row= 2061 row change = 3722
row= 2062 row change = 3934
row= 2063 row change = 2360
row= 2065 row change = 2776
row= 2067 row change = 3736
row= 2068 row change = 3103
row= 2069 row change = 5301
row= 2070 row change = 5490
row= 2071 row change = 3664
row= 2072 row change = 4917
row= 2073 row change = 4775
row= 2074 row change = 5314
row= 2075 row change = 3330
row= 2076 row change = 2153
row= 2077 row change = 3610
row= 2078 row change = 4201
row= 2079 row change = 4833
row= 2081 row change = 4510
row= 2086 row change = 2174
row= 2087 row change = 4638
row= 2089 row change = 2159
row= 2091 row change = 3577
row= 2092 row change = 2224
row= 2099 row change = 3546
row= 2100 row change = 2201
row= 2101 row change = 4149
row= 2102 row change = 3626
row= 2103 row change = 4787
row= 2104 row change = 3060
row= 2109 row change = 5086
row= 2110 row change = 4102
row= 2111 row change = 2370
row= 2112 row change = 3041
row= 2113 row change = 5064
row= 2114 row change = 4937
row= 2116 row change = 3878
row= 2117 row change = 3052
row= 2118 row change = 2311
row= 2119 row change = 4927
row= 2120 row change = 5255
row= 2121 row change = 5244
row= 2122 row change = 4811
row= 2123 row change = 4804
row= 2124 row change = 3419
row= 2125 row change = 2142
row= 2128 row change = 4790
row= 2131 row change = 3892
row= 2132 row change = 2312
row= 2133 row change = 3065
row= 2134 row change = 3869
row= 2135 row change = 4803
row= 2136 row change = 2323
row= 2138 row change = 4613
row= 2140 row change = 3731
row= 2141 row change = 3108
row= 2143 row change = 4806
row= 2144 row change = 4817
row= 2145 row change = 2147
row= 2146 row change = 4602
row= 2148 row change = 4818
row= 2149 row change = 2169
row= 2152 row change = 2157
row= 2155 row change = 2179
row= 2156 row change = 3625
row= 2158 row change = 2170
row= 2160 row change = 4834
row= 2161 row change = 4197
row= 2162 row change = 4778
row= 2163 row change = 4504
row= 2165 row change = 3624
row= 2168 row change = 3791
row= 2172 row change = 4837
row= 2173 row change = 3083
row= 2175 row change = 3427
row= 2176 row change = 3613
row= 2177 row change = 4824
row= 2178 row change = 3576
row= 2185 row change = 3321
row= 2186 row change = 3658
row= 2187 row change = 2195
row= 2191 row change = 2960
row= 2192 row change = 3550
row= 2194 row change = 4851
row= 2196 row change = 2286
row= 2198 row change = 3693
row= 2203 row change = 2237
row= 2205 row change = 3767
row= 2206 row change = 2435
row= 2207 row change = 2251
row= 2208 row change = 3699
row= 2209 row change = 3796
row= 2210 row change = 4852
row= 2211 row change = 5484
row= 2213 row change = 3538
row= 2214 row change = 2440
row= 2215 row change = 3697
row= 2217 row change = 3678
row= 2219 row change = 2281
row= 2222 row change = 2260
row= 2223 row change = 3351
row= 2227 row change = 5485
row= 2229 row change = 4497
row= 2232 row change = 4912
row= 2234 row change = 4686
row= 2235 row change = 4623
row= 2238 row change = 5564
row= 2240 row change = 4685
row= 2241 row change = 4888
row= 2242 row change = 3353
row= 2243 row change = 2279
row= 2244 row change = 3590
row= 2247 row change = 3347
row= 2250 row change = 4093
row= 2252 row change = 4122
row= 2255 row change = 4099
row= 2256 row change = 4522
row= 2257 row change = 4498
row= 2258 row change = 3366
row= 2259 row change = 3778
row= 2261 row change = 2400
row= 2263 row change = 2438
row= 2264 row change = 4829
row= 2265 row change = 4782
row= 2269 row change = 3684
row= 2271 row change = 4687
row= 2272 row change = 4663
row= 2274 row change = 4111
row= 2275 row change = 3477
row= 2276 row change = 4485
row= 2278 row change = 3096
row= 2280 row change = 3312
row= 2283 row change = 2505
row= 2287 row change = 4673
row= 2289 row change = 4378
row= 2290 row change = 4907
row= 2291 row change = 2292
row= 2293 row change = 4915
row= 2296 row change = 3654
row= 2297 row change = 5005
row= 2298 row change = 5193
row= 2299 row change = 2392
row= 2303 row change = 3027
row= 2304 row change = 2721
row= 2305 row change = 4362
row= 2307 row change = 3882
row= 2308 row change = 4922
row= 2310 row change = 3051
row= 2315 row change = 3702
row= 2316 row change = 5179
row= 2317 row change = 4133
row= 2318 row change = 4083
row= 2319 row change = 2506
row= 2322 row change = 4106
row= 2325 row change = 4938
row= 2326 row change = 4874
row= 2327 row change = 3975
row= 2328 row change = 5320
row= 2331 row change = 2332
row= 2335 row change = 5223
row= 2336 row change = 3285
row= 2341 row change = 5365
row= 2344 row change = 4950
row= 2345 row change = 4951
row= 2346 row change = 2361
row= 2348 row change = 2350
row= 2352 row change = 2382
row= 2353 row change = 4963
row= 2354 row change = 4953
row= 2355 row change = 2528
row= 2356 row change = 2364
row= 2357 row change = 4952
row= 2358 row change = 4958
row= 2359 row change = 4178
row= 2362 row change = 4577
row= 2366 row change = 2529
row= 2368 row change = 4742
row= 2369 row change = 3875
row= 2372 row change = 3056
row= 2373 row change = 4959
row= 2374 row change = 2375
row= 2376 row change = 4956
row= 2377 row change = 2380
row= 2378 row change = 2383
row= 2379 row change = 2398
row= 2384 row change = 4966
row= 2385 row change = 2782
row= 2386 row change = 3017

row= 2387 row change = 4152
row= 2388 row change = 2723
row= 2390 row change = 3998
row= 2394 row change = 3018
row= 2397 row change = 4247
row= 2402 row change = 4969
row= 2403 row change = 4970
row= 2405 row change = 4501
row= 2407 row change = 3581
row= 2408 row change = 3585
row= 2409 row change = 4440
row= 2410 row change = 3095
row= 2411 row change = 4533
row= 2412 row change = 4554
row= 2414 row change = 5537
row= 2415 row change = 4975
row= 2416 row change = 4696
row= 2417 row change = 3648
row= 2418 row change = 4633
row= 2419 row change = 4827
row= 2420 row change = 4890
row= 2422 row change = 5170
row= 2423 row change = 3333
row= 2424 row change = 4525
row= 2425 row change = 4918
row= 2429 row change = 4893
row= 2432 row change = 3318
row= 2437 row change = 3315
row= 2441 row change = 2510
row= 2444 row change = 4783
row= 2446 row change = 3695
row= 2447 row change = 4120
row= 2452 row change = 5219
row= 2453 row change = 2845
row= 2454 row change = 4167
row= 2455 row change = 2935
row= 2457 row change = 4262
row= 2460 row change = 3527
row= 2462 row change = 3225
row= 2463 row change = 3215
row= 2467 row change = 3210
row= 2470 row change = 5395
row= 2473 row change = 5013
row= 2474 row change = 3598
row= 2475 row change = 5018
row= 2477 row change = 2621
row= 2482 row change = 2898
row= 2483 row change = 2891
row= 2487 row change = 5236
row= 2489 row change = 3659
row= 2490 row change = 4567
row= 2492 row change = 5001
row= 2494 row change = 2950
row= 2495 row change = 2847
row= 2496 row change = 4169
row= 2497 row change = 4468
row= 2498 row change = 5176
row= 2499 row change = 5202
row= 2500 row change = 5218
row= 2501 row change = 2937
row= 2502 row change = 5160
row= 2507 row change = 2738
row= 2509 row change = 3688
row= 2511 row change = 5002
row= 2512 row change = 5094
row= 2514 row change = 4473
row= 2515 row change = 2707
row= 2519 row change = 2582
row= 2521 row change = 2764
row= 2523 row change = 5022
row= 2526 row change = 2571
row= 2530 row change = 2567
row= 2531 row change = 3953
row= 2532 row change = 3994
row= 2533 row change = 3152
row= 2535 row change = 3925
row= 2536 row change = 5024
row= 2537 row change = 4340
row= 2540 row change = 3531
row= 2541 row change = 2542
row= 2543 row change = 3530
row= 2545 row change = 2546
row= 2548 row change = 5051
row= 2549 row change = 2550
row= 2551 row change = 5029
row= 2552 row change = 5050
row= 2553 row change = 2957
row= 2555 row change = 3713
row= 2557 row change = 5041
row= 2558 row change = 4418
row= 2560 row change = 3453
row= 2563 row change = 5600
row= 2564 row change = 5602
row= 2569 row change = 5049
row= 2570 row change = 3943
row= 2578 row change = 2988
row= 2580 row change = 5016
row= 2583 row change = 3376
row= 2584 row change = 2744
row= 2587 row change = 4301
row= 2588 row change = 2596
row= 2589 row change = 2832
row= 2590 row change = 4306
row= 2593 row change = 5053
row= 2594 row change = 4271
row= 2595 row change = 5044
row= 2600 row change = 5055
row= 2602 row change = 5153
row= 2604 row change = 4257
row= 2608 row change = 3900
row= 2609 row change = 4469
row= 2612 row change = 5321
row= 2615 row change = 5093
row= 2617 row change = 4678
row= 2618 row change = 4334
row= 2623 row change = 5470
row= 2627 row change = 2632
row= 2628 row change = 2638
row= 2631 row change = 5584
row= 2635 row change = 4051
row= 2637 row change = 3118
row= 2639 row change = 2691
row= 2640 row change = 4136
row= 2643 row change = 3401
row= 2646 row change = 3674
row= 2647 row change = 5309
row= 2649 row change = 3644
row= 2650 row change = 4530
row= 2652 row change = 4664
row= 2653 row change = 4553
row= 2654 row change = 4652
row= 2655 row change = 5308
row= 2656 row change = 4857
row= 2657 row change = 4182
row= 2661 row change = 3938
row= 2662 row change = 3923
row= 2663 row change = 3909
row= 2665 row change = 4876
row= 2668 row change = 3255
row= 2669 row change = 2681
row= 2672 row change = 3132
row= 2676 row change = 4328
row= 2679 row change = 3140
row= 2682 row change = 3290
row= 2683 row change = 3120
row= 2685 row change = 4747
row= 2686 row change = 3391
row= 2687 row change = 5118
row= 2688 row change = 5113
row= 2690 row change = 3493
row= 2693 row change = 3454
row= 2698 row change = 5422
row= 2700 row change = 2702
row= 2701 row change = 2705
row= 2703 row change = 2706
row= 2708 row change = 5139
row= 2709 row change = 5140
row= 2710 row change = 5141
row= 2714 row change = 4241
row= 2717 row change = 4412
row= 2719 row change = 5142
row= 2722 row change = 3997
row= 2724 row change = 4153
row= 2725 row change = 4245
row= 2726 row change = 3236
row= 2727 row change = 3142
row= 2728 row change = 3242
row= 2730 row change = 4002
row= 2731 row change = 5458
row= 2732 row change = 5150
row= 2734 row change = 4148
row= 2739 row change = 3212
row= 2741 row change = 2991
row= 2742 row change = 2896
row= 2747 row change = 5151
row= 2748 row change = 4168
row= 2750 row change = 2864
row= 2751 row change = 2870
row= 2752 row change = 5175
row= 2753 row change = 4494
row= 2755 row change = 3013
row= 2756 row change = 4416
row= 2757 row change = 2977
row= 2759 row change = 5184
row= 2762 row change = 4309
row= 2763 row change = 2805
row= 2765 row change = 4215
row= 2767 row change = 2938
row= 2768 row change = 5163
row= 2769 row change = 2871
row= 2770 row change = 5221
row= 2771 row change = 2955
row= 2773 row change = 3300
row= 2774 row change = 4759
row= 2775 row change = 4753
row= 2777 row change = 2780
row= 2779 row change = 3921
row= 2781 row change = 3916
row= 2784 row change = 4277
row= 2785 row change = 2791
row= 2786 row change = 4961
row= 2787 row change = 5154
row= 2788 row change = 3913
row= 2789 row change = 4278
row= 2792 row change = 3915
row= 2793 row change = 4962
row= 2794 row change = 3912
row= 2795 row change = 3886
row= 2797 row change = 2817
row= 2798 row change = 5162
row= 2800 row change = 2828
row= 2802 row change = 5177
row= 2804 row change = 3007
row= 2809 row change = 2816
row= 2810 row change = 3000
row= 2812 row change = 5159
row= 2814 row change = 3005
row= 2815 row change = 3520
row= 2819 row change = 3002
row= 2820 row change = 5233
row= 2821 row change = 2824
row= 2822 row change = 4359
row= 2823 row change = 4357
row= 2825 row change = 4358
row= 2827 row change = 2833
row= 2829 row change = 4227
row= 2835 row change = 3834
row= 2836 row change = 2838
row= 2839 row change = 2992
row= 2842 row change = 3873
row= 2844 row change = 2942
row= 2846 row change = 5201
row= 2848 row change = 5216
row= 2849 row change = 2963
row= 2850 row change = 4496
row= 2852 row change = 2900
row= 2853 row change = 3861
row= 2854 row change = 5191
row= 2856 row change = 5106
row= 2858 row change = 4314
row= 2859 row change = 3762
row= 2861 row change = 3995
row= 2862 row change = 2875
row= 2863 row change = 2865
row= 2869 row change = 4733
row= 2876 row change = 5502
row= 2879 row change = 4372
row= 2881 row change = 2908
row= 2882 row change = 4222
row= 2885 row change = 5190
row= 2886 row change = 2965
row= 2888 row change = 2919
row= 2890 row change = 5506
row= 2892 row change = 2978
row= 2902 row change = 2915
row= 2907 row change = 4022
row= 2909 row change = 4322
row= 2910 row change = 4349
row= 2911 row change = 5183
row= 2913 row change = 4231
row= 2917 row change = 3835
row= 2924 row change = 3396
row= 2925 row change = 3981
row= 2932 row change = 4107
row= 2934 row change = 4077
row= 2939 row change = 2953
row= 2944 row change = 5215
row= 2948 row change = 5203
row= 2949 row change = 4516
row= 2951 row change = 4417
row= 2952 row change = 4467
row= 2954 row change = 5220
row= 2959 row change = 5319
row= 2962 row change = 4294
row= 2964 row change = 4274
row= 2966 row change = 4980
row= 2967 row change = 5599
row= 2968 row change = 3402
row= 2969 row change = 2985
row= 2970 row change = 3829
row= 2972 row change = 5508
row= 2973 row change = 3455
row= 2974 row change = 5006
row= 2975 row change = 5509
row= 2979 row change = 3381
row= 2980 row change = 4993
row= 2981 row change = 3958
row= 2982 row change = 4310
row= 2989 row change = 5010
row= 2993 row change = 5224
row= 2994 row change = 5228
row= 2995 row change = 3004
row= 2997 row change = 5227

row= 2998 row change = 3006
row= 3003 row change = 4477
row= 3015 row change = 4436
row= 3016 row change = 5209
row= 3020 row change = 4370
row= 3021 row change = 4481
row= 3022 row change = 3710
row= 3023 row change = 3707
row= 3024 row change = 4368
row= 3026 row change = 4483
row= 3028 row change = 5474
row= 3030 row change = 5000
row= 3031 row change = 5287
row= 3032 row change = 5072
row= 3033 row change = 4928
row= 3034 row change = 4934
row= 3035 row change = 5256
row= 3037 row change = 5259
row= 3038 row change = 4933
row= 3039 row change = 3040
row= 3042 row change = 5241
row= 3043 row change = 5265
row= 3044 row change = 4955
row= 3045 row change = 5071
row= 3046 row change = 4926
row= 3047 row change = 3877
row= 3049 row change = 4740
row= 3050 row change = 3879
row= 3053 row change = 4925
row= 3055 row change = 5264
row= 3057 row change = 5282
row= 3058 row change = 5262
row= 3059 row change = 5276
row= 3061 row change = 3063
row= 3062 row change = 3064
row= 3068 row change = 3852
row= 3069 row change = 3363
row= 3070 row change = 4089
row= 3071 row change = 4838
row= 3073 row change = 3772
row= 3077 row change = 4598
row= 3078 row change = 3614
row= 3079 row change = 4865
row= 3080 row change = 4850
row= 3081 row change = 3807
row= 3082 row change = 5555
row= 3084 row change = 4266
row= 3085 row change = 3535
row= 3087 row change = 3342
row= 3090 row change = 3326
row= 3091 row change = 3609
row= 3093 row change = 3563
row= 3098 row change = 3681
row= 3101 row change = 4870
row= 3102 row change = 3314
row= 3104 row change = 3663
row= 3105 row change = 4776
row= 3107 row change = 4799
row= 3112 row change = 5078
row= 3113 row change = 3183
row= 3116 row change = 3287
row= 3117 row change = 3263
row= 3119 row change = 5393
row= 3121 row change = 3254
row= 3122 row change = 3256
row= 3123 row change = 3133
row= 3124 row change = 3947
row= 3125 row change = 3195
row= 3126 row change = 3275
row= 3127 row change = 4338
row= 3128 row change = 3240
row= 3129 row change = 4003
row= 3130 row change = 5353
row= 3131 row change = 4048
row= 3135 row change = 3260
row= 3136 row change = 3188
row= 3137 row change = 3269
row= 3139 row change = 3291
row= 3141 row change = 3919
row= 3143 row change = 4965
row= 3144 row change = 5382
row= 3145 row change = 3203
row= 3146 row change = 3931
row= 3147 row change = 3266
row= 3148 row change = 3230
row= 3149 row change = 4391
row= 3155 row change = 3267
row= 3157 row change = 5460
row= 3158 row change = 4036
row= 3159 row change = 5134
row= 3160 row change = 3179
row= 3162 row change = 3248
row= 3163 row change = 5425
row= 3164 row change = 4043
row= 3165 row change = 3865
row= 3167 row change = 5359
row= 3168 row change = 4631
row= 3169 row change = 5326
row= 3170 row change = 3949
row= 3171 row change = 5376
row= 3172 row change = 3978
row= 3173 row change = 5344
row= 3174 row change = 5388
row= 3175 row change = 5334
row= 3176 row change = 4037
row= 3177 row change = 4722
row= 3178 row change = 5374
row= 3180 row change = 5358
row= 3181 row change = 4727
row= 3182 row change = 3235
row= 3185 row change = 5387
row= 3186 row change = 5079
row= 3187 row change = 3270
row= 3189 row change = 5345
row= 3190 row change = 5381
row= 3191 row change = 5377
row= 3192 row change = 5350
row= 3194 row change = 5340
row= 3196 row change = 3946
row= 3198 row change = 5121
row= 3199 row change = 3245
row= 3200 row change = 4044
row= 3201 row change = 5424
row= 3204 row change = 3283
row= 3205 row change = 5122
row= 3206 row change = 3905
row= 3209 row change = 5027
row= 3216 row change = 3297
row= 3217 row change = 3224
row= 3220 row change = 5361
row= 3223 row change = 3298
row= 3227 row change = 3927
row= 3228 row change = 4390
row= 3231 row change = 5403
row= 3232 row change = 5402
row= 3233 row change = 5413
row= 3234 row change = 3244
row= 3237 row change = 3292
row= 3238 row change = 3932
row= 3241 row change = 3944
row= 3243 row change = 3271
row= 3246 row change = 5330
row= 3247 row change = 5423
row= 3249 row change = 4050
row= 3250 row change = 5324
row= 3251 row change = 4034
row= 3252 row change = 5341
row= 3253 row change = 5348
row= 3257 row change = 5394
row= 3265 row change = 3929
row= 3268 row change = 5333
row= 3272 row change = 5427
row= 3273 row change = 5385
row= 3276 row change = 4337
row= 3277 row change = 5323
row= 3278 row change = 3918
row= 3279 row change = 4005
row= 3280 row change = 4052
row= 3281 row change = 5437
row= 3282 row change = 5461
row= 3286 row change = 5444
row= 3293 row change = 5475
row= 3301 row change = 4762
row= 3302 row change = 5482
row= 3303 row change = 5574
row= 3304 row change = 3472
row= 3307 row change = 4124
row= 3308 row change = 3369
row= 3309 row change = 3542
row= 3313 row change = 3703
row= 3316 row change = 4910
row= 3317 row change = 3649
row= 3319 row change = 4693
row= 3322 row change = 3559
row= 3323 row change = 5583
row= 3327 row change = 5565
row= 3328 row change = 5252
row= 3329 row change = 5489
row= 3331 row change = 5239
row= 3332 row change = 4382
row= 3336 row change = 3780
row= 3337 row change = 5558
row= 3343 row change = 5306
row= 3344 row change = 4267
row= 3349 row change = 3588
row= 3354 row change = 4500
row= 3356 row change = 3706
row= 3357 row change = 4887
row= 3358 row change = 4674
row= 3359 row change = 3853
row= 3360 row change = 4737
row= 3361 row change = 4682
row= 3362 row change = 3630
row= 3364 row change = 3564
row= 3372 row change = 4296
row= 3373 row change = 4388
row= 3374 row change = 4140
row= 3375 row change = 3379
row= 3377 row change = 3759
row= 3378 row change = 3961
row= 3380 row change = 4921
row= 3384 row change = 5111
row= 3388 row change = 4435
row= 3389 row change = 5115
row= 3390 row change = 5117
row= 3393 row change = 3595
row= 3397 row change = 3714
row= 3403 row change = 4236
row= 3404 row change = 4238
row= 3407 row change = 5098
row= 3408 row change = 5096
row= 3409 row change = 5095
row= 3410 row change = 5514
row= 3412 row change = 3435
row= 3414 row change = 5522
row= 3416 row change = 5527
row= 3418 row change = 3729
row= 3421 row change = 4454
row= 3424 row change = 4283
row= 3425 row change = 4943
row= 3428 row change = 4656
row= 3429 row change = 3431
row= 3430 row change = 3533
row= 3437 row change = 4600
row= 3438 row change = 4624
row= 3439 row change = 5552
row= 3440 row change = 3750
row= 3441 row change = 3751
row= 3442 row change = 3444
row= 3443 row change = 4355
row= 3447 row change = 5088
row= 3448 row change = 5090
row= 3449 row change = 3863
row= 3450 row change = 5125
row= 3452 row change = 5597
row= 3456 row change = 3971
row= 3457 row change = 3458
row= 3460 row change = 4831
row= 3461 row change = 3782
row= 3462 row change = 4121
row= 3463 row change = 3817
row= 3467 row change = 4290
row= 3468 row change = 4571
row= 3470 row change = 4376
row= 3474 row change = 3705
row= 3476 row change = 4599
row= 3478 row change = 3770
row= 3479 row change = 5618
row= 3480 row change = 3481
row= 3485 row change = 4684
row= 3487 row change = 4196
row= 3496 row change = 3514
row= 3497 row change = 3519
row= 3499 row change = 3508
row= 3501 row change = 3502
row= 3503 row change = 3517
row= 3504 row change = 3509
row= 3505 row change = 4171
row= 3512 row change = 3518
row= 3516 row change = 3818
row= 3521 row change = 3696
row= 3528 row change = 4060
row= 3532 row change = 4988
row= 3534 row change = 4028
row= 3536 row change = 4341
row= 3541 row change = 5317
row= 3544 row change = 3776
row= 3545 row change = 5316
row= 3549 row change = 4954
row= 3552 row change = 4909
row= 3554 row change = 5019
row= 3556 row change = 3571
row= 3560 row change = 4065
row= 3561 row change = 3809
row= 3565 row change = 3632
row= 3566 row change = 4076
row= 3567 row change = 4875
row= 3569 row change = 4141
row= 3572 row change = 4512
row= 3574 row change = 5576
row= 3575 row change = 4823
row= 3578 row change = 4429
row= 3586 row change = 3593
row= 3587 row change = 4798
row= 3594 row change = 3599
row= 3597 row change = 4317
row= 3611 row change = 4609
row= 3612 row change = 4617
row= 3616 row change = 4608
row= 3620 row change = 4597
row= 3621 row change = 3896
row= 3622 row change = 4194
row= 3623 row change = 3808

row= 3627 row change = 4161
row= 3628 row change = 3854
row= 3634 row change = 5037
row= 3635 row change = 4393
row= 3636 row change = 5295
row= 3637 row change = 4885
row= 3639 row change = 4541
row= 3640 row change = 4860
row= 3641 row change = 4546
row= 3643 row change = 4974
row= 3645 row change = 4555
row= 3646 row change = 4526
row= 3647 row change = 5540
row= 3650 row change = 4692
row= 3651 row change = 3652
row= 3653 row change = 4820
row= 3655 row change = 4457
row= 3656 row change = 5491
row= 3657 row change = 5234
row= 3665 row change = 5518
row= 3666 row change = 4985
row= 3668 row change = 4615
row= 3672 row change = 4377
row= 3675 row change = 4104
row= 3676 row change = 3679
row= 3680 row change = 5311
row= 3683 row change = 3704
row= 3685 row change = 4098
row= 3690 row change = 3794
row= 3698 row change = 4667
row= 3717 row change = 4578
row= 3720 row change = 4375
row= 3723 row change = 3884
row= 3726 row change = 4752
row= 3727 row change = 5211
row= 3732 row change = 3734
row= 3733 row change = 4280
row= 3735 row change = 4574
row= 3737 row change = 5198
row= 3738 row change = 3797
row= 3739 row change = 4256
row= 3741 row change = 4067
row= 3744 row change = 4082
row= 3745 row change = 3826
row= 3752 row change = 5297
row= 3754 row change = 4653
row= 3755 row change = 3880
row= 3756 row change = 5149
row= 3757 row change = 5268
row= 3764 row change = 4346
row= 3765 row change = 4345
row= 3773 row change = 4785
row= 3775 row change = 4078
row= 3781 row change = 4786
row= 3785 row change = 4119
row= 3786 row change = 4096
row= 3790 row change = 4112
row= 3792 row change = 4867
row= 3798 row change = 3801
row= 3800 row change = 3901
row= 3803 row change = 4146
row= 3811 row change = 3983
row= 3815 row change = 4575
row= 3816 row change = 4576
row= 3821 row change = 4212
row= 3828 row change = 5186
row= 3845 row change = 4246
row= 3851 row change = 4158
row= 3858 row change = 3859
row= 3860 row change = 4595
row= 3862 row change = 5126
row= 3866 row change = 4202
row= 3868 row change = 4165
row= 3881 row change = 5063
row= 3883 row change = 4809
row= 3891 row change = 4332
row= 3904 row change = 4732
row= 3907 row change = 3914
row= 3910 row change = 4117
row= 3911 row change = 5043
row= 3917 row change = 4964
row= 3924 row change = 3937
row= 3926 row change = 4389
row= 3930 row change = 5421
row= 3933 row change = 5432
row= 3935 row change = 5481
row= 3939 row change = 4594
row= 3941 row change = 3955
row= 3942 row change = 5446
row= 3945 row change = 4336
row= 3948 row change = 5352
row= 3950 row change = 4403
row= 3951 row change = 3952
row= 3956 row change = 3964
row= 3962 row change = 4994
row= 3965 row change = 3969
row= 3966 row change = 4367
row= 3970 row change = 4366
row= 3973 row change = 4606
row= 3974 row change = 4635
row= 3982 row change = 3984
row= 3996 row change = 5480
row= 4000 row change = 4203
row= 4001 row change = 4007
row= 4004 row change = 4724
row= 4006 row change = 4335
row= 4008 row change = 4011
row= 4013 row change = 4312
row= 4016 row change = 4021
row= 4017 row change = 4020
row= 4019 row change = 4177
row= 4023 row change = 5178
row= 4026 row change = 5185
row= 4033 row change = 4720
row= 4035 row change = 4304
row= 4046 row change = 4721
row= 4047 row change = 5135
row= 4053 row change = 5343
row= 4054 row change = 5426
row= 4055 row change = 4343
row= 4062 row change = 5315
row= 4063 row change = 4507
row= 4070 row change = 4689
row= 4071 row change = 4691
row= 4072 row change = 5008
row= 4074 row change = 5318
row= 4075 row change = 4800
row= 4085 row change = 4132
row= 4087 row change = 4286
row= 4090 row change = 4397
row= 4091 row change = 4092
row= 4094 row change = 4843
row= 4103 row change = 4900
row= 4110 row change = 4559
row= 4114 row change = 4486
row= 4118 row change = 4830
row= 4126 row change = 4679
row= 4135 row change = 4137
row= 4139 row change = 5447
row= 4142 row change = 5238
row= 4154 row change = 4478
row= 4155 row change = 5500
row= 4156 row change = 4157
row= 4160 row change = 4805
row= 4164 row change = 5612
row= 4170 row change = 5230
row= 4172 row change = 4173
row= 4176 row change = 4183
row= 4181 row change = 4313
row= 4184 row change = 4641
row= 4186 row change = 4189
row= 4187 row change = 4193
row= 4188 row change = 4191
row= 4198 row change = 5131
row= 4205 row change = 5445
row= 4209 row change = 4568
row= 4210 row change = 4308
row= 4213 row change = 4217
row= 4214 row change = 4220
row= 4218 row change = 4219
row= 4221 row change = 4410
row= 4226 row change = 5189
row= 4230 row change = 5214
row= 4249 row change = 4396
row= 4250 row change = 4394
row= 4252 row change = 5510
row= 4253 row change = 5606
row= 4254 row change = 5613
row= 4260 row change = 4547
row= 4261 row change = 5085
row= 4263 row change = 5304
row= 4276 row change = 5390
row= 4284 row change = 5610
row= 4285 row change = 4392
row= 4287 row change = 4455
row= 4288 row change = 4572
row= 4295 row change = 5058
row= 4300 row change = 4580
row= 4305 row change = 4726
row= 4307 row change = 5562
row= 4315 row change = 4316
row= 4318 row change = 4718
row= 4329 row change = 5435
row= 4330 row change = 4385
row= 4331 row change = 5138
row= 4339 row change = 4725
row= 4348 row change = 4491
row= 4361 row change = 5364
row= 4363 row change = 4995
row= 4364 row change = 5021
row= 4374 row change = 5472
row= 4384 row change = 4666
row= 4386 row change = 4769
row= 4387 row change = 4847
row= 4395 row change = 4399
row= 4400 row change = 5607
row= 4401 row change = 5617
row= 4405 row change = 5569
row= 4419 row change = 4422
row= 4420 row change = 4424
row= 4421 row change = 4423
row= 4426 row change = 4427
row= 4431 row change = 5556
row= 4432 row change = 5303
row= 4433 row change = 4434
row= 4437 row change = 5158
row= 4438 row change = 5181
row= 4441 row change = 4697
row= 4443 row change = 5171
row= 4445 row change = 4529
row= 4446 row change = 5169
row= 4448 row change = 4449
row= 4452 row change = 4453
row= 4460 row change = 4465
row= 4463 row change = 4464
row= 4471 row change = 4475
row= 4479 row change = 5288
row= 4487 row change = 4557
row= 4495 row change = 4637
row= 4503 row change = 4513
row= 4506 row change = 4677
row= 4508 row change = 5609
row= 4511 row change = 5525
row= 4518 row change = 4520
row= 4523 row change = 5269
row= 4532 row change = 4690
row= 4534 row change = 4979
row= 4535 row change = 4801
row= 4537 row change = 4543
row= 4539 row change = 4675
row= 4561 row change = 4662
row= 4562 row change = 4858
row= 4563 row change = 4671
row= 4581 row change = 4584
row= 4582 row change = 4585
row= 4583 row change = 4590
row= 4586 row change = 4714
row= 4587 row change = 4588
row= 4589 row change = 4715
row= 4592 row change = 5199
row= 4593 row change = 5455
row= 4601 row change = 4815
row= 4603 row change = 4816
row= 4604 row change = 5465
row= 4605 row change = 5553
row= 4607 row change = 4802
row= 4610 row change = 4871
row= 4611 row change = 4614
row= 4618 row change = 5298
row= 4620 row change = 5551
row= 4621 row change = 4622
row= 4625 row change = 4626
row= 4627 row change = 5249
row= 4628 row change = 4731
row= 4629 row change = 5004
row= 4630 row change = 5347
row= 4632 row change = 4976
row= 4639 row change = 4946
row= 4640 row change = 4949
row= 4642 row change = 5281
row= 4643 row change = 5441
row= 4644 row change = 5477
row= 4645 row change = 4881
row= 4649 row change = 4650
row= 4651 row change = 4908
row= 4654 row change = 5246
row= 4657 row change = 4939
row= 4658 row change = 4700
row= 4661 row change = 4822
row= 4670 row change = 5499
row= 4695 row change = 5538
row= 4699 row change = 5483
row= 4701 row change = 4704
row= 4702 row change = 4708
row= 4703 row change = 4706
row= 4705 row change = 4716
row= 4707 row change = 4709
row= 4710 row change = 4717
row= 4728 row change = 5329
row= 4729 row change = 5349
row= 4730 row change = 5342
row= 4734 row change = 5247
row= 4738 row change = 4744
row= 4739 row change = 4743
row= 4741 row change = 5274
row= 4748 row change = 4846
row= 4749 row change = 4754
row= 4751 row change = 4932
row= 4755 row change = 4989
row= 4756 row change = 4990
row= 4761 row change = 4763
row= 4767 row change = 4999
row= 4768 row change = 4771

row= 4770 row change = 4774
row= 4772 row change = 5045
row= 4773 row change = 5222
row= 4777 row change = 5570
row= 4779 row change = 4873
row= 4788 row change = 5614
row= 4793 row change = 5248
row= 4794 row change = 5254
row= 4795 row change = 4796
row= 4807 row change = 5545
row= 4812 row change = 5065
row= 4813 row change = 5266
row= 4814 row change = 4835
row= 4821 row change = 4825
row= 4828 row change = 5501
row= 4839 row change = 5488
row= 4844 row change = 4845
row= 4848 row change = 4849
row= 4855 row change = 4856
row= 4859 row change = 5496
row= 4877 row change = 5356
row= 4878 row change = 4879
row= 4882 row change = 5572
row= 4897 row change = 4898
row= 4899 row change = 4902
row= 4901 row change = 5296
row= 4903 row change = 4904
row= 4916 row change = 5260
row= 4920 row change = 5068
row= 4923 row change = 5258
row= 4929 row change = 5073
row= 4931 row change = 5067
row= 4935 row change = 5257
row= 4940 row change = 5414
row= 4941 row change = 4942
row= 4944 row change = 4947
row= 4945 row change = 4948
row= 4972 row change = 5322
row= 4977 row change = 5539
row= 4983 row change = 5101
row= 4984 row change = 5515
row= 4991 row change = 4992
row= 4998 row change = 5619
row= 5025 row change = 5028
row= 5030 row change = 5031
row= 5032 row change = 5034
row= 5033 row change = 5035
row= 5036 row change = 5040
row= 5038 row change = 5039
row= 5046 row change = 5047
row= 5057 row change = 5145
row= 5059 row change = 5603
row= 5060 row change = 5103
row= 5066 row change = 5240
row= 5070 row change = 5273
row= 5074 row change = 5243
row= 5083 row change = 5420
row= 5089 row change = 5091
row= 5092 row change = 5575
row= 5102 row change = 5582
row= 5104 row change = 5105
row= 5107 row change = 5109
row= 5110 row change = 5454
row= 5112 row change = 5116
row= 5127 row change = 5398
row= 5128 row change = 5129
row= 5136 row change = 5137
row= 5143 row change = 5144
row= 5167 row change = 5571
row= 5172 row change = 5174
row= 5194 row change = 5197
row= 5196 row change = 5235
row= 5207 row change = 5210
row= 5226 row change = 5229
row= 5263 row change = 5275
row= 5270 row change = 5300
row= 5277 row change = 5279
row= 5278 row change = 5280
row= 5283 row change = 5286
row= 5284 row change = 5285
row= 5289 row change = 5290
row= 5292 row change = 5294
row= 5299 row change = 5550
row= 5312 row change = 5313
row= 5325 row change = 5327
row= 5328 row change = 5336
row= 5331 row change = 5351
row= 5335 row change = 5383
row= 5346 row change = 5478
row= 5354 row change = 5463
row= 5355 row change = 5357
row= 5366 row change = 5367
row= 5368 row change = 5369
row= 5370 row change = 5371
row= 5378 row change = 5379
row= 5380 row change = 5436
row= 5386 row change = 5417
row= 5396 row change = 5397
row= 5399 row change = 5407
row= 5400 row change = 5412
row= 5401 row change = 5409
row= 5404 row change = 5410
row= 5405 row change = 5415
row= 5406 row change = 5411
row= 5408 row change = 5416
row= 5418 row change = 5419
row= 5428 row change = 5453
row= 5429 row change = 5438
row= 5430 row change = 5452
row= 5433 row change = 5434
row= 5442 row change = 5443
row= 5448 row change = 5450
row= 5449 row change = 5451
row= 5466 row change = 5468
row= 5492 row change = 5549
row= 5494 row change = 5495
row= 5504 row change = 5505
row= 5507 row change = 5566
row= 5516 row change = 5581
row= 5519 row change = 5520
row= 5523 row change = 5530
row= 5524 row change = 5529
row= 5526 row change = 5528
row= 5547 row change = 5548
row= 5561 row change = 5563
row= 5577 row change = 5580
row= 5578 row change = 5579
row= 5587 row change = 5589
row= 5591 row change = 5592
row= 5593 row change = 5595
row= 5594 row change = 5596
row= 5598 row change = 5601
row= 5605 row change = 5608

In [19]:
result2=result.copy()
result2.head()

,parent,to,index1,index2,interactions,crossposts,date
4998,Chodi,IndiansRead,99518,107073,37.0,3,1.618342e+09
3479,opensourcehardware,RISCV,76930,107037,39.0,2,1.576024e+09
4401,opensource,openhardware,90098,107027,17.0,2,1.581452e+09
1634,aww,goats,45543,107004,526.0,6,1.594784e+09
1967,PeopleFuckingDying,ADailyDoseOfInternet,53359,106998,76.0,2,1.588820e+09

In [20]:
result = result.sort_values(by = 'parent', ascending = True)
result.head()
size_before=len(result)
print('Size "result" before drop duplicate rows is =',size_before)
result.drop_duplicates(keep="first",inplace=True)
size_after=len(result)    

print('Size result After drop rows is =',size_after) 
print('we have deletes "', size_before-size_after,'" duplicate rows')

Size "result" before drop duplicate rows is = 5620
Size result After drop rows is = 2810
we have deletes " 2810 " duplicate rows

In [21]:

size_before=len(df1)
print('Size df1 before drop rows is =',size_before)
df1=df1.drop(result['index2'])
size_after=len(df1)    

print('Size df1 After drop rows is =',size_after) 
print('we have deletes "', size_before-size_after,'" rows')

Size df1 before drop rows is = 107094
Size df1 After drop rows is = 104284
we have deletes " 2810 " rows

In [22]:
#reset the indexes in the new DataFrame
df1.reset_index(inplace=True,drop=True)
df1.head()

   parent                 to  interactions  crossposts          date  index1
0  nature        environment        1965.0           3  1.609549e+09       0
1  nature     EcoNewsNetwork         292.0          18  1.615282e+09       1
2  nature        PublicLands           3.0           1  1.619177e+09       2
3  nature  EndangeredSpecies          28.0           2  1.618449e+09       3
4  nature       animalimpact           5.0           3  1.615263e+09       4

In [23]:

i=0
index=[]
for i in range(len(df1)-1):
    if df1['parent'].iloc[i]==df1['parent'].iloc[i+1] and df1['to'].iloc[i]==df1['to'].iloc[i+1]:
        index.append([i,i+1])
    
if len(index)==0:
    print('There are no duplicates of rows with parent and to equal to other rows')
else:
    print('There rows with duplicates of  "parent" and "to" ')

There are no duplicates of rows with parent and to equal to other rows

I delete the "index1" column from df1 and add the new "weights" attribute

In [24]:
df1["weights"] = np.log(df1["interactions"]+1)
#delete the columns 
columns2remove = ['index1']
df1.drop(columns2remove, inplace=True, axis=1)
df1.head()

   parent                 to  interactions  crossposts          date   weights
0  nature        environment        1965.0           3  1.609549e+09  7.583756
1  nature     EcoNewsNetwork         292.0          18  1.615282e+09  5.680173
2  nature        PublicLands           3.0           1  1.619177e+09  1.386294
3  nature  EndangeredSpecies          28.0           2  1.618449e+09  3.367296
4  nature       animalimpact           5.0           3  1.615263e+09  1.791759

In [26]:
df1.to_csv("scraping data/data/data_subreddit_Undirect.csv")